[user]
	name = Matteo Vesprini-Heidrich
	email = matteo.vesprini-heidrich@originate.com
[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status
	cm = commit
	br = branch
	co = checkout
	h = town-hack
	d = diff
	npr = town-new-pull-request
	m = merge
	r = reset
	rb = rebase
	hack = town-hack
	kill = town-kill
	new-pull-request = town-new-pull-request
	prune-branches = town-prune-branches
	rename-branch = town-rename-branch
	repo = town-repo
	ship = town-ship
	sync = town-sync
[core]
	excludesfile = /Users/matteovh/.gitignore_global
